body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background: #45a049;
  }
  
  button:active {
    background: #3e8942;
  }
  
  button:focus {
    outline: none;
  }
  
  