*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* LAYOUTS */
.mainmain{
    display:grid;
    height: 100vh;
    grid-template-columns: 150px auto;
    grid-template-rows:5% auto;
}
.header{
    
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end:2;
    text-align: center;
    background-color:rgb(116, 211, 111);
}
.sidebar{
    border-right: 3px solid rgb(116,211,111);
    
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    
    background-color: #f1f1f1;
    height: 100%;
       }       /*full height*/
     
ul li a{
    display:block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}
ul li a:active{
    background-color:#04AA6D;
    color:white;
}
ul li a:hover:not(.active){
    background-color: #555;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: rgb(116, 211, 111);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logout-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
}
.btn {
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.one:hover {
    background-color: red;
}

.two:hover {
    background-color: green;
}
table{
    width:100%;
    border-collapse:collapse;    
}
table,th,td{
    border:1px solid black;
    background-color: seashell;
    
}
td{
    text-align:center;
}
th{
    height: 50px;
}
